@model ActCompl.Models.Instructor

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Instructor</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="nombre" class="control-label"></label>
                <input asp-for="nombre" class="form-control" />
                <span asp-validation-for="nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="apellidop" class="control-label"></label>
                <input asp-for="apellidop" class="form-control" />
                <span asp-validation-for="apellidop" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="apellidom" class="control-label"></label>
                <input asp-for="apellidom" class="form-control" />
                <span asp-validation-for="apellidom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="sexo" class="control-label"></label>
                <input asp-for="sexo" class="form-control" />
                <span asp-validation-for="sexo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="rfc" class="control-label"></label>
                <input asp-for="rfc" class="form-control" />
                <span asp-validation-for="rfc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="formacion" class="control-label"></label>
                <input asp-for="formacion" class="form-control" />
                <span asp-validation-for="formacion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
